<div class="DeviceMasterManagement_Wrap">
    <div class="roles_menu">
        <div class="logo">
            <img src="../../../assets/Icons/Logo.png" alt="Logo" class="icons">
        </div>
        <ul class="nav">
            <!-- <li class="nav-item">
                <a routerLink="/raw-management" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">Raw Data Validation</a>
            </li> -->
            <!-- <li class="nav-item">
                <a routerLink="/kml-management" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link">KML-Visualizer</a>
            </li> -->
        </ul>
    </div>
    <!-- <div class="allTabs_contentHere">
        <ng-container *ngIf="activeTab">
            <div class="tabs_contentWrap">
                <ng-container *ngComponentOutlet="activeTab.component"></ng-container>
            </div>
        </ng-container>
    </div> -->
</div>